.idea
.vscode
node_modules
backend/frontend-build
backend/upload
frontend/build
frontend/src/assets/manga-site-logo/manga-site-logo*
frontend/src/assets/tech-logo/tech-logo*
foo.*
.env
.env.export
.env.prod
.env.qa
coverage
