@import "../../styles/variables";

.omnisearch-result {
  background: white;
  border-radius: 3px;
  padding-bottom: 1px;
  position: relative;
  left: 20px;
}

.omnisearch-result-row {
  margin: 6px;
  a {
    color: unset;
  }

  &:hover {
    background: #fbfbfb;

    .omnisearch-cover {
      height: unset;
    }
    .omnisearch-name {
      font-weight: bold;
    }
  }
}

.omnisearch-content-header {
  font-weight: bold;
  padding: 8px;
}

.omnisearch-content {
  display: flex;
  justify-items: center;
}

.omnisearch-info {
  margin-left: 12px;
  width: 350px;

  & > *{
    margin: 8px 0;
  }
  span {
    margin-right: 12px;
    white-space: nowrap;
  }

  &:not(:hover) .omnisearch-long-description {
    display: none;
  }
  &:hover .omnisearch-short-description {
    display: none;
  }
}

.omnisearch-name {
  color: @primary-color;
  font-weight: bold;
}

.omnisearch-cover {
  img {
    width: 100px;
  }
  height: 75px;
  overflow-y: hidden;
}