.fab-container {
  pointer-events: none;
  * {
    pointer-events: none;
  }

  &.hover {
    pointer-events: auto;
    & * {
      pointer-events: auto;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;

  .ant-btn {
    margin: 8px 0;
  }
}

.fab-root-btn {
  pointer-events: auto;
}

.hover .fab-root-btn {
  transform: rotate(135deg);
}

.fab-expand-btn {
  opacity: 0;
  cursor: auto !important;
  transform: scale(0.75);
}

.hover .fab-expand-btn {
  cursor: pointer !important;
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.fab-tooltip-overlay {
  position: fixed;
}
