@import "../../../variables";

.manga-table-desktop {
  margin: 12px 0 12px 12px;
  min-height: 500px;

  .manga-cover-image {
    width: 120px;
  }

  .manga-details {
    display: flex;
    align-items: center;
  }
}
