@import "../../variables";

.manga-detail-right-panel {
  margin: 24px 64px 36px @manga-detail-left-panel-width;
  padding: 24px 36px;
  background: white;

  .ant-spin-container > *:not(:first-child) {
    margin: 12px 0;
  }
}
