@import "../../styles/variables";

.manga-detail-right-panel {
  background: white;
  position: relative;

  @media (min-width: @bp-lg) {
    margin: 24px 64px 36px @manga-detail-left-panel-width;

    .manga-user-input-props {
      margin-top: 12px;
    }

    .ant-spin-container > *:not(:first-child):not(:last-child) {
      margin: 12px 0;
    }

    .triangle {
      padding: 24px 36px;
    }
  }


  @media (max-width: @bp-md) {
    margin: 12px 6px;

    .ant-spin-container > *:not(:first-child):not(:last-child) {
      margin: 12px 0;
    }

    .triangle {
      padding: 12px 12px 0 12px;
    }
  }
}
