@import "../../utils";

.mark-all-btn {
  margin-top: 8px;
  margin-right: 8px;
  padding: 12px;

  width: 46px;
  height: 46px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  color: @primary-color;
  background: @primary-color-light;
  transition: background-color 0.5s;

  &:not(.disabled):hover {
    .background-primary-color-animated()
  }

  &.disabled {
    color: #808080;
    background: #f3f3f3;
    cursor: not-allowed;
  }
}