@import "../../variables";
@import "../../utils";

.chapter-list {
  &.scroll {
    max-height: 400px;
    overflow-y: scroll;
    .hide-scroll-bar();
  }

  .ant-table-title, .ant-table-cell {
    padding: 8px 0 !important;
  }

  .action {
    .ant-btn:hover:not([disabled]) {
      .primary-button();
    }
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      margin: 0;
    }

    .ant-btn {
      &:hover:not([disabled]) {
        .primary-button();
      }
      margin-left: 8px;
    }
  }
}