@import "../variables";

.left-panel {
  overflow: initial;
  margin-right: @right-panel-width;
}

.manga-table-title {
  padding: 12px;
  margin-bottom: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &>* {
    display: inline-block;
    margin: 0 !important;
  }
  span {
    font-size: large;
  }
  @media (max-width: @bp-md) {
    padding-bottom: 0;
  }
}