@import "../variables";

.auth-form-container {
  height: calc(100vh - @navbar-height);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  padding: 48px 128px 48px;
  @media (max-width: @bp-sm) {
    padding: 32px 8px;
  }
  @media (max-width: @bp-lg) {
    justify-content: center;
  }
}

.auth-form {
  width: 350px;
  height: fit-content;
  @media (max-width: @bp-sm) {
    width: 100%;
  }
  .ant-card-head {
    background: @default-color;
    color: @primary-color;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.auth-other-actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.auth-other-actions-footer {
  margin-top: 24px;
  text-align: center;
}