@import "../variables";
@import "../utils";

.home {
  .logo-container {
    text-align: center;
    background: @default-color;

    padding: 12px 12px 200px 12px;

    .logo {
      margin-bottom: 12px;
    }

    .version {
      color: @secondary-color;
      margin-left: 24px;
    }

    img {
      width: 450px;
      height: 135px;
      max-width: 95%;
    }

    .subtitle {
      color: white;
      font-size: large;
      margin-bottom: 12px;
    }

    @media (max-width: @bp-md) {
      .subtitle {
        display: block;
      }
      img {
        max-height: 30vw;
      }
    }
  }

  &>*:not(:first-child) {
    position: relative;
    top: -160px;
    margin-bottom: 36px;
  }

  .card-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: @bp-md) {
      flex-direction: column;
    }
  }

  .card {
    width: 300px;
    padding: 24px;
    margin: 4px 12px;
    border-radius: 8px;

    .title {
      text-align: center;
    }
    p {
      font-size: 15px;
    }

    &:nth-child(1) {
      background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
    }
    &:nth-child(2) {
      background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    }
    &:nth-child(3) {
      background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    }

    .ant-btn {
      background: rgba(255, 255, 255, 0.3);
    }

    .scale-when-hover();

    .cover {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
    }
  }

  .title {
    text-align: center;
  }

  @iframe-width: 768;
  @iframe-height: 432;

  .iframe {
    cursor: pointer;
    width: unit(@iframe-width, px);
    height: unit(@iframe-height, px);
    @media (max-width: @bp-md) {
      width: 100vw;
      height: unit(100 * @iframe-height / @iframe-width, vw);
    }
  }

  #supported-sites {
    padding: 0 64px;
    @media (max-width: @bp-md) {
      padding: 0 32px;
    }
    @media (max-width: @bp-sm) {
      padding: 0 8px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    img {
      width: 95%;
      .scale-when-hover();
    }
  }

  .contact {
    a {
      margin: 12px;
    }
  }

  .for-dev {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: medium;
    }
    &>div {
      max-width: 600px;
    }
  }

  .power-by {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 35px;
      margin-top: 8px;
      .scale-when-hover();
    }

    .ant-row {
      max-width: 600px;
    }
  }

  .back-to-top {
    position: relative;
    top: -100px;
  }
}