@import "~antd/dist/antd";
@import "./variables";

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.float-right {
  float: right;
}

// https://css-tricks.com/almanac/selectors/p/placeholder/
::-moz-placeholder {
  opacity: 1;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.box-shadow {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}