@import "~antd/dist/antd";
@import "./variables";

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.float-right {
  float: right;
}

.text-align-center {
  text-align: center;
}

// https://css-tricks.com/almanac/selectors/p/placeholder/
::-moz-placeholder {
  opacity: 1;
}

.flex {
  display: flex;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.box-shadow {
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.ant-modal-footer {
  padding: 10px 24px;
}

.triangle {
  position: relative;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 15px;
    position: absolute;
  }

  &.top-right:after {
    top: 0;
    right: 0;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
  }

  &.bottom-right:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
  }

  &.new-chap:after {
    border-color: @green-6;
  }
  &.many-to-read:after {
    border-color: @gold-6;
  }
  &.last-chap-reached:after {
    border-color: @blue-6;
  }
  &.finished:after {
    border-color: grey;
  }
}

.manga-cover-image {
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1);
  &:hover {
    transform: scale(1.02);
    filter: brightness(110%);
  }
}

.card-form {
  width: 350px;
  height: fit-content;
  @media (max-width: @bp-sm) {
    width: 100%;
  }
  .ant-card-head {
    background: @default-color;
    color: @primary-color;
    font-weight: bold;
    text-transform: uppercase;
  }
}