@import "./variables";

.hide-scroll-bar {
  &::-webkit-scrollbar { /* Chrome, Safari and Opera */
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.primary-button {
  color: white;
  background: @primary-color;
}

.scale-when-hover {
  transition: transform 0.3s;
  transform: scale(1);
  &:hover {
    transform: scale(1.05);
  }
}

.background-primary-color-animated {
  background: linear-gradient(90deg, #e2fff7, #aeffe2);
  background-size: 400% 400%;
  animation: BackgroundAnimation 1.5s ease infinite;
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
