@primary-color: #00bea6;
@primary-color-active: lighten(@primary-color, 5%);
@secondary-color: #efa230;
@default-color: #001529;
@default-color-active: lighten(@default-color, 5%);

@semi-transparent: rgba(255, 255, 255, 0.65);

@bp-sm: 576px;
@bp-md: 768px;
@bp-lg: 992px;
@bp-xl: 1200px;
@bp-xxl: 1600px;

@navbar-height: 64px;
@navbar-toggle-duration: 0.3s;
@right-panel-width: 35%;
