@primary-color: #00bea6;
@primary-color-active: lighten(@primary-color, 3%);
@secondary-color: #efa230;

//@gray-0: darken(white, 5%);
//@gray-1: darken(@gray-0, 5%);
//@gray-2: darken(@gray-1, 5%);
//@gray-3: darken(@gray-2, 5%);
//@gray-4: darken(@gray-3, 5%);

@bp-sm: 576px;
@bp-md: 768px;
@bp-lg: 992px;
@bp-xl: 1200px;
@bp-xxl: 1600px;
