@import "../../variables";
@import "../../utils";

#right-panel {
  width: calc(@right-panel-width - 12px);
  height: calc(100% - @navbar-height);

  scroll-behavior: smooth;
  overflow: auto;
  position: fixed;
  right: 0;
  background: white;
  padding: 24px 12px 24px 24px;

  .hide-scroll-bar();

  .ant-spin-container {
    & > * {
      margin: 12px 0;
    }
  }

  .placeholder {
    width: 100%;
    margin: 175px 0 0 0;
  }

  .manga-cover-image-wrapper {
    position: relative;
    margin-top: 0;
    text-align: center;
    .manga-cover-image {
      width: 60%;
      display: inline-block;
      min-height: 350px;
      background: lightgray;
    }
  }

  .quick-actions {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;

    &>* {
      width: 36px;
      height: 36px;
      //background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      transition: all 0.3s;
      //transform: translateX(0);
      &:hover {
        width: 48px;
      }
    }

    .update {
      background: #faad14;
    }

    .delete {
      background: #f5222d;
    }
  }

  .non-editable-info {
    .ant-descriptions-title {
      margin-bottom: 12px;
    }
    .ant-descriptions-row td {
      padding-bottom: 4px;
    }
    .ant-descriptions-item-label {
      font-weight: 500;
    }
  }

  .note-container {
    .ant-descriptions-item-content {
      width: 100%;
    }
  }
}

#root.navbar-hidden {
  #right-panel {
    height: 100%;
  }
}

.right-panel-cover-large {
  width: 100%;
}
