@import "../../variables";
@import "../../utils";

#right-panel {
  width: calc(@right-panel-width - 12px);
  height: calc(100% - @navbar-height);

  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  background: white;
  padding: 24px 12px 24px 24px;

  .hide-scroll-bar();

  .ant-spin-container {
    & > * {
      margin: 12px 0;
    }
  }

  .placeholder {
    margin: 225px 0 20px 0;
    text-align: center;
    img {
      opacity: 20%;
      width: 50%;
    }
  }

  .manga-cover-image-wrapper {
    position: relative;
    margin-top: 0;
    text-align: center;
    .manga-cover-image {
      max-width: 60%;
      display: inline-block;
      min-height: 350px;
      max-height: 500px;
    }
  }

  .quick-actions {
    position: absolute;
    right: -12px;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;

    &>* {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      color: white;
      transition: all 0.3s;
      span {
        margin-left: 12px;
        white-space: nowrap;
        &:last-child {
          visibility: hidden;
        }
      }
      &:hover {
        width: 102px;
        span:last-child {
          visibility: visible;
        }
      }
    }

    .update {
      background: lighten(#faad14, 10%);
    }

    .delete {
      background: lighten(#f5222d, 10%);
    }

    .mark-all {
      background: #70c3b9;
    }
  }

  .non-editable-info {
    .ant-descriptions-title {
      margin-bottom: 12px;
    }
    .ant-descriptions-row td {
      padding-bottom: 4px;
    }
    .ant-descriptions-item-label {
      font-weight: 500;
    }
  }

  .note-container {
    .ant-descriptions-item-content {
      width: 100%;
    }
  }
}
