@import "../../variables";

#right-panel {
  width: calc(@right-panel-width - 12px);
  height: calc(100% - @navbar-height);

  &.navbar-hidden {
    height: 100%;
  }

  scroll-behavior: smooth;
  overflow: auto;
  position: fixed;
  right: 0;
  background: white;
  padding: 24px 12px 24px 24px;

  &::-webkit-scrollbar { /* Chrome, Safari and Opera */
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &>* {
    margin: 12px 0;
  }
  &>*:last-child {
    margin-bottom: 96px !important;
  }

  .manga-cover-image-wrapper {
    margin-top: 0;
    text-align: center;
    .manga-cover-image {
      width: 60%;
    }
  }

  .editable-info {
    display: flex;
    justify-content: space-between;
    .ant-btn {
      margin: 0 !important;
    }
  }

  .non-editable-info {
    .ant-descriptions-title {
      margin-bottom: 12px;
    }
    .ant-descriptions-row td {
      padding-bottom: 4px;
    }
    .ant-descriptions-item-label {
      font-weight: 500;
    }
  }
}

.right-panel-cover-large {
  width: 100%;
}