.manga-preview {
  margin-top: 24px;
  img {
    width: 100%;
    + * {
      margin: 6px 0 18px;
    }
  }
  .info-row {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    &:first-child {
      margin-top: 0;
    }
  }
  .info-col {
    margin: 8px 0;
  }
  strong {
    margin-right: 16px;
  }
  .description {
    margin-top: 12px;
    div {
      display: inline;
    }
  }
}

.manga-preview-errors {
  color: red;
  margin-top: 12px;
}